.cateActive{
  background-color: #C92229;
  color: white;
}
.home-link:hover{
  font-weight: 600;
}
.footer-link:hover{
  font-weight: 700;
}
.reply-petition:hover{
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

input[type=radio]:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  --tw-border-opacity: 1 !important;
  border-color: rgba(201, 34, 41, var(--tw-border-opacity)) !important;
  appearance: none !important;
}